.grayImage {
  background-image: url(../../assets/images/auth/image%203.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.resetPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/images/auth/Rectangle%201922.png);
  padding: 50px 0;
}
.resetPasswordForm {
  margin: auto;
  background-color: #47535f;
  padding: 60px;
  border-radius: 20px;
  &Title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.47px;
  }
  &SubTitle {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 500;
    color: #a7b2bd;
    width: 80%;
    margin-top: 10px;
  }
}
