.PartnersOrganismWrapper {
  width: 100vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Header {
    margin-bottom: 150px;
  }

  &Title {
    // margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #373737;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
  }

  &Line {
    width: 338.047px;
    height: 4px;
    background: #fb6d56;
    margin: 0 auto;
  }

  &PartnersList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
