.loginPage {
  margin-top: 135px;

  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Title {
    color: #373737;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}