.FooterOrganismWrapper {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #373737;
  color: #ffffff;
  padding: 20px 0;
}

.footerLinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerLinks li {
  margin: 0 10px;
}

.footerLinks a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #007bff;
  }
}

@media (max-width: 768px) {
  .FooterOrganismWrapper {
    padding: 15px 0;
  }

  .footerLinks ul {
    flex-direction: column;
    align-items: center;
  }

  .footerLinks li {
    margin: 10px 0;
  }
}

@media (max-width: 450px) {
  .footerLinks li {
    margin: 5px 0;
    font-size: 14px;
  }
}
