.PassConfWrapper {
  width: 100%;
  margin-top: 256px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &Title {
    color: #373737;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
  }

  .PassConfSubTitle {
    margin-top: 56px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;

    width: 620px;
    height: 91px;
  }

  .PassConfComWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 81px;

    >button {
      border-radius: 15px;
      border: 1px solid rgba(0, 0, 0, 0.15);

      width: 499px;
      height: 83px;
      gap: 10px;

      background: transparent;

      padding: 28px 100px;
        >span {
          color: #000;
          text-align: center;
          font-family: Inter;
          font-size: 22px;
          font-weight: 500;
        }
    }
  }
}