.formBtn {
  //margin-top: 100px;

  background: #FB6D56;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  outline: none;

  width: 598px;
  padding: 15px 20px;
}

.buttonContent {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}