.SubHeaderOrganism {
  background: #373737;
  color: #fff;
  height: 60px;

  .LeftContent {
    display: flex;
    align-items: center;

    .SubHeaderOrganismText {
      color: red;
    }

    .TimeAndWhatsApp {
      display: flex;
      align-items: center;
      margin-left: auto;

      img {
        width: 20px;
        height: 20px;
      }

      .TimeRange {
        color: white;
        margin-left: 10px;
      }
    }
  }

  .TimeWrapper {
    margin-right: 2%;
  }

  .WhatsAppWrapper {
    margin-left: 2%;
  }
}
