.containerHelperText {
  margin-top: 48px;

  .Text {
    color: #373737;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .LinkColor {
    text-decoration: none;
    color: #FB6D56;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
