.registrationPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/images/auth/Rectangle%201922.png);

  &Title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.47px;
  }
}
.grayImage {
  background-image: url(../../assets/images/auth/image%203.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.registrationPageForm {
  margin: auto;
  background-color: #47535f;
  padding: 60px;
  border-radius: 20px;

  .button {
    width: 357px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #47535f;
    margin-bottom: 20px;
    cursor: pointer;

    &Active {
      width: 357px;
      height: 40px;
      border-radius: 10px;
      background-color: #a7b2bd;
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      color: #47535f;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
}
