.lineMainContainer {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.containerText {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #767e8c;
  line-height: 16.41px;
}
.lineContainer {
  width: 45%;
  border-bottom: 1px solid #767e8c;
  height: 12px;
}
